.item {
    width: 20rem;
    height: 20rem;
    background-color: plum;
}
.item {
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
    width: 200px;
}

.item img {
    width: 150px;
    height: 100.5px;
}